body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

.caja {
  width: 360px;
  margin: 50px auto;
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
}

input {
  width: 65%;
  padding: 8px;
  border: 1px solid #aaa;
}

button {
  padding: 8px 10px;
  border: 1px solid #999;
  background-color: #e4e4e4;
  cursor: pointer;
}

li {
  margin-top: 10px;
}

li button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  right: 30px;
}
